@import "compass/css3/text-shadow";
@import "text-effects/base";

$te-neon-color: white !default;
$te-neon-shadow-color: #FF00DE !default;

@mixin neon($font-size: $te-font-size, $color: $te-neon-color, $shadow-color: $te-neon-shadow-color) {
  @include te-font-size($font-size);
  color: $color;
  $proportional: floor($font-size / 20);
  @include text-shadow(0 0 $proportional $color, 0 0 $proportional * 2 $color, 0 0 $proportional * 3 $color, 0 0 $proportional * 4 $shadow-color, 0 0 $proportional * 7 $shadow-color, 0 0 $proportional * 8 $shadow-color, 0 0 $proportional * 10 $shadow-color, 0 0 $proportional * 15 $shadow-color);
}
