@import "compass/css3/text-shadow";
@import "text-effects/base";

$te-vintage-retro-color: #707070 !default;
$te-vintage-retro-background-color: white !default;

@mixin vintage-retro($font-size: $te-font-size, $color: $te-vintage-retro-color, $background-color: $te-vintage-retro-background-color) {
  @include te-font-size($font-size);
  color: $color;
  $proportional: floor($font-size / 50);
  $offset-first: $proportional + 1px;
  $offset-second: $proportional + 3px;
  @include text-shadow($offset-first $offset-first $background-color, $offset-second $offset-second $color);
}
